frontend/
data/knowledge_base.db
data/hdpilot.db
data/test-hdpilot.db
.git/
.venv/
__pycache__/
*.db
.github/
.idea/
.env

**/.DS_Store
**/__pycache__
**/.dockerignore
**/docker-compose*
**/compose.y*ml
**/Dockerfile*
**/node_modules
README.md
